apiVersion: v1
kind: Service
metadata:
  name: {{ include "dws-ticket-service.fullname" . }}
  labels:
    {{- include "dws-ticket-service.labels" . | nindent 4 }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "{{ .Values.service.port }}"
    prometheus.io/path: "/metrics"
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "dws-ticket-service.selectorLabels" . | nindent 4 }}
